<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Editar Disciplina')}"></head>

<body>
    <header th:replace="~{fragmentos :: header('Editar Disciplina #' + ${disciplinaId})}"></header>

    <div th:replace="~{/disciplinas/disciplinafragmentos :: form(requisicaoFormDisciplina, '/disciplinas/' + ${disciplinaId}, 'PATCH')}"></div>
</body>
</html>