<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div class="container" th:fragment="form(requisicaoFormProfessor, action, method)">
    <div class="row">
        <form th:object="${requisicaoFormProfessor}"
              th:action="${action}" th:method="${method}">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nome}">
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Salário</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{salario}">
                <div class="invalid-feedback" th:errors="*{salario}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Status</label>
                <select class="form-select" th:field="*{statusProfessor}">
                    <option th:each="status : ${statusProfessor}"
                            th:value="${status}" th:text="${status}"></option>
                    <!--  Esse método é ruim, pois se alterar o path de StatusProfessor ele para de funcionar
                    <option th:each="status : ${T(br.com.guilherme.regescweb.models.StatusProfessor).values()}"
                            th:value="${status}" th:text="${status}"></option>-->
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="javascript:history.back()">Voltar</a>

        </form>
    </div>
</div>