<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div class="container" th:fragment="form(requisicaoFormAluno, action, method)">
    <div class="row">
        <form th:object="${requisicaoFormAluno}"
              th:action="${action}" th:method="${method}">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nome}">
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Idade</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{idade}">
                <div class="invalid-feedback" th:errors="*{idade}"></div>
            </div>

            <div class="mb-3" th:each="disciplina : ${disciplinas}">
                <input type="checkbox" th:value="${disciplina.id}" th:field="*{disciplinasId}">
                <label th:text="${disciplina.nome}">Disciplina</label>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="javascript:history.back()">Voltar</a>

        </form>
    </div>
</div>