<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Alunos')}"></head>

<body>

<header th:replace="~{fragmentos :: header('Lista de Alunos')}"></header>

<div class="container mb-4">
    <div class="col-12">
        <span th:styleappend="${(param.message == null || param.error == null) ? 'display:none;' : ''}"
              th:classappend="${(param.error != null && param.error) ? 'error-message' : 'success-message'}"
              th:text="${param.message != null ? param.message : ''}">Mensagem</span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Disciplinas</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="aluno : ${alunos}">
                        <th class="col-1" scope="row" th:text="${aluno.id}">ID</th>
                        <td class="col-4" th:text="${aluno.nome}">NOME</td>
                        <td class="col-2" th:text="${aluno.idade}">IDADE</td>

                        <!-- Button trigger modal -->
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target=${'#disciplinaModal' + aluno.id}">Disciplinas</button></td>

                        <td class="col-1"><a th:href="@{/alunos/{alunoId}(alunoId = ${aluno.id})}">Detalhes</a></td>
                        <td class="col-1"><a th:href="@{/alunos/{alunoId}/edit(alunoId = ${aluno.id})}">Editar</a></td>
                        <td class="col-1"><a th:href="@{/alunos/{alunoId}/delete(alunoId = ${aluno.id})}">Deletar</a></td>

                        <!-- Modal -->
                        <div class="modal fade" tabindex="-1" th:attr="id=${'disciplinaModal' + aluno.id},
                             aria-labelledby=${'disciplinaModalLabel' + aluno.id}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" th:attr="id=${'disciplinaModalLabel' + aluno.id}"
                                            th:text="${'Disciplinas do aluno #' + aluno.id}">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <h2 th:each="disciplina : ${aluno.disciplinas}"
                                                th:text="${disciplina != null} ? ${disciplina.nome} : ''"></h2>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="/alunos/new">Novo Aluno</a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>